# Executables & object files
*.exe
*.o
build/*
bin/*

# Xcode
*.xcodeproj
*.xcodeproj/*

# Qt
*.pro.user

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
ipch/
*.abs
*.ncb
*.opensdf
*.sdf
*.cachefile

# Miscellaneous
.DS_Store
*.autosave
build-database
*.db

